extends layout

block content
  h1(onload="initApplication()") DON'T DO IT!


  script(src="/javascripts/stitch.min.js") 
  script.
    let stitchClient;
    function initApplication() {
      return stitch.StitchClientFactory.create('dontdoit-ntrbu').then(client => {
        stitchClient = client;
      }).then(() => {
        stitchClient.authenticate("facebook");
      });
    }
