extends layout

block content
  h1 DON'T DO IT!
  button(id="fb_button", onclick="AuthFacebook()") Login to Facebook
  button(id="google_button", onclick="AuthGoogle()") Login to Google
  div(id="info")
    span Hello there 
    span(id="fname") 
    span(id="lname")
    div(id="photo")
