doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(onload="initApplication()")
    block content
    script(src="/javascripts/stitch.min.js") 
    script.
      let stitchClient;
      
      function initApplication() {
        console.log("Initted..");
        return stitch.StitchClientFactory.create('dontdoit-ntrbu').then(client => {
          stitchClient = client;
        }).then(() => {
          // Load Facebook SDK
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            //js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=208024206631133&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            });
      }

      function AuthFacebook() {
        stitchClient.authenticate("facebook");
      }
