doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css') 
  body(onload="initApplication()")
    block content
    script(src="/javascripts/stitch.min.js")  
    script.
      let stitchClient;
      // Disable Facebook Button
      let fbButton = document.getElementById("fb_button");
      fbButton.disable = true;
      function initApplication() {
        console.log("Initted..");
        return stitch.StitchClientFactory.create('dontdoit-ntrbu').then(client => {
          stitchClient = client;
        }).then(() => {
          if (stitchClient.isAuthenticated()) {
            stitchClient.userProfile().then((data) => {
              document.getElementById("fname").innerHTML = data.data.first_name;
              document.getElementById("lname").innerHTML = data.data.last_name;
              document.getElementById("photo").innerHTML = "<img src=" + data.data.picture + " alt='That's you!>";
            });
          }
          else fbButton.disable = false;
        });
      }

      function AuthFacebook() {
        stitchClient.authenticate("facebook");
      }
    
