doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(onload="initApplication()")
    block content
    script(src="/javascripts/stitch.min.js") 
    script.
      let stitchClient;
      
      function initApplication() {
        console.log("Initted..");
        return stitch.StitchClientFactory.create('dontdoit-ntrbu').then(client => {
          stitchClient = client;
        }).then(() => {
          
      }

      function AuthFacebook() {
        stitchClient.authenticate("facebook");
      }
